{#
 # Component Template – Heading 
 # ----------------------------
 #
 # This template is used to output HTML for a Heading matrix block.
 #
 # A `self` variable is expected in this template.
-#}

<h2 class="delta center subfont caps">{{ self.heading }}</h2>