{#
 # Component Template – New Section 
 # --------------------------------
 #
 # This template is used to output HTML for a New Section matrix block.
 #
 # A `self` variable is expected in this template.
-#}

<hr class="horz-rule">
<h1 class="beta center">{{ self.sectionHeading }}</h1>