{#
 # Component Template – Pull Quote 
 # -------------------------------
 #
 # This template is used to output HTML for a Pull Quote matrix block.
 #
 # A `self` variable is expected in this template.
-#}

<div class="pullquote">
  <p class="delta center subfont caps">{{ self.pullQuote }}</p>
</div>